 h5{
     font-weight: 700;   
     font-size: 0.85rem;
     text-align: right;
     margin-right: 3em;
     margin-top: 1em;
 } 
 .far-title{ 
    margin-top: 0.5rem;     
    font-size: 0.75rem;
    text-align: center;
    margin-bottom: 0.2rem;   
} 

.header{
    background-color: rgba(226, 229, 235, 1);
    padding: 1.5em;  
    border-radius: 15px;  
    .header-container {        
        margin-top: 0em;        
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        grid-gap: 0.3em;        
        samp{
            font-weight: 800;
            font-size: 13px;
            margin-top: 0;
            margin-bottom: 2px;
            font-family: Arial, Helvetica, sans-serif;
            label{font-weight: 400;}
        }        
      }
}


  .body-card{
    margin-top: -1.5em;
    border: 1px solid #838485;
    border-radius: 12px;
    h6{
        font-weight: 700;   
        font-size: 0.75rem;
        text-align: center;
        padding: 1em;   
    }
    .title-m{
        margin-top: 0.5em;
        text-align: center;
        margin-left: 1em;
        samp{            
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 800;
        }
        p{
            font-size: 12px;
            font-weight: 700;
        }
        .title-d{  
            margin-top: 0.2em;         
            margin-left: 3px;
            margin-bottom: 1em;
            .spam{
                display: inherit;
                text-align: initial;  
                padding: 1ex;              
                margin: 8px;
                margin-left: 0.3em;
                font-weight: 600;                
                color: black;
                font-size: 12px;                
            }
            :hover{
                color: rgb(255, 255, 255);
                cursor: pointer;
                background-color:rgb(0, 152, 216);
            }   
        }
    }    
  }
   .grid-content{    
    :hover{
        cursor: pointer;
    }    
    .text-button{
        color: rgb(255, 255, 255);        
        width: 8em;
        height: 2em;
        border-radius: 1em; 
        margin: 4.5em auto; 
        text-align: center;      
        background-color: #A9A5A9;        
      }
  }
  //estilos tarjeta
  .body-add{
      display: flex;      
      h5{
        font-size: 12px;
        margin-left: 21px;
        position: absolute;
        :hover{cursor: pointer;}
      }
      i{    
          position: absolute;
          margin-left: 9.8em;
          margin-top: 0.55em;
          font-size: 17px;          
          color:#5cb85c;
        }
        span{
            font-size: 12px;
        }
  }  
//estilos convencioness
  .body-item{
      display: contents; 
      font-size: 0.58em;
      margin-top: 1em;      
      i{
        margin-left: 1em;
        margin-right: 0.5em;
        margin-bottom: 2em;
      }     
  }
  //estilos de separador 
  .line{
    border-bottom: 1px solid #838485;    
    margin-left: 1em;
    margin-right: 1em;
  }