<div class="gray-container cssHeight" *ngFor="let data of patient" >
    <div class="global-container">
        <div class="basic-data">
            <div class="photo-container">
                <div class="photo">
                    <img [src]="data.photoPath || './assets/images/userAvatar.png'"
                        alt="image">
                </div>
            </div>
            <div class="title-container">
                <span>{{data.pacienteDTO}}</span>
                <!-- <label>{{patient.professionDTO}}</label> -->
            </div>
        </div>
        <div class="second-container">
            <div class="container-line">
                <div class="line-vertical"></div>
            </div>

            <div class="info-container">                 
                    <span>Sucursal: <label>{{data.prestadorDTO}}</label></span>  
                    <span>Edad:<label>{{data.edadDTO}}</label></span>                  
            </div>
            <div class="container-line">
                <div class="line-vertical"></div>
            </div>
            <div class="info-container">                                         
                <span>Tipo documento: <label>{{data.tipoDocumentoDTO}}</label></span>                
                <span>N° documento: <label>{{data.nDocumentoDTO}}</label> </span>                
            </div>           
            <div class="container-line">
                <div class="line-vertical"></div>
            </div>
            <div class="info-container">                
                              
                <span>Diagnostico: 
                    <div class="item-Label" data-toggle="data.diagnosticoDTO" data-placement="bottom"  >
                        {{data.diagnosticoDTO  | slice:0:22 }}
                    </div>
                </span>                
                <span>Contrato: 
                    <div   class="item-Label" data-toggle="data.contratoDTO" data-placement="bottom"  >
                        {{data.contratoDTO | slice:0:23 }}
                    </div>
                </span>                
                 
            </div>
        </div>
    </div>
</div>

