h5 {
  text-align: center;
  font-weight: bold;
}
.horizontal {
  grid-auto-flow: column;
  gap: 1em;
  width: auto !important;
  grid-template-columns: auto !important;
}
.info-panel {
  width: 410px;
  display: grid;
  border: 1px solid #dadada;
  padding: 0.5em;
  .item-info {
    display: flex;
    align-items: center;
    padding: 0.2em 0;
    .square-info {
      width: 1em;
      height: 1em;
      margin-right: 0.5em;
      border-radius: 2px;
    }
    i {
      width: 2em;
    }
  }
}
