<div class="gray-container cssHeight" *ngFor="let data of patient" >
    <div class="global-container">
        <div class="basic-data">
            <div class="photo-container">
                <div class="photo">
                    <img [src]="data.photoPath || './assets/images/userAvatar.png'"
                        alt="image">
                </div>
            </div>
            <div class="title-container">
                <span>{{data.pacienteDTO}}</span>
                <!-- <label>{{patient.professionDTO}}</label> -->
            </div>
        </div>
        <div class="second-container">
            <div class="container-line">
                <div class="line-vertical"></div>
            </div>

            <div class="info-container">                 
                    <span>Sucursal: <label>{{data.prestadorDTO}}</label></span>                    
                    <span>Piso: <label>{{data.instalacionPrestadorDTO}}</label></span>                    
                    <span>Habitacion: <label>{{data.habitacioDTO}}</label></span>                     
            </div>
            <div class="container-line">
                <div class="line-vertical"></div>
            </div>
            <div class="info-container">                               
                <span>Servicio: <label>{{data.servicioDTO}}</label></span>                
                <span>Tipo documento: <label>{{data.tipoDocumentoDTO}}</label></span>                
                <span>N° documento: <label>{{data.nDocumentoDTO}}</label> </span>                
            </div>           
            <div class="container-line">
                <div class="line-vertical"></div>
            </div>
            <div class="info-container">                
                <span>Edad:<label>{{data.edadDTO}}</label></span>                
                <span>Diagnostico: 
                    <div class="item-Label" data-toggle="data.planDTO" data-placement="bottom" [title]="planDTO" >
                        {{data.diagnosticoDTO  | slice:0:22 }}
                    </div>
                </span>                
                <span>Prevencion: 
                    <div   class="item-Label" data-toggle="data.planDTO" data-placement="bottom" [title]="planDTO" >
                        {{data.prevencionDTO  | slice:0:23 }}
                    </div>
                </span>                
                <span>Plan: 
                    <div class="item-Label" data-toggle="tooltip" data-placement="bottom" [title]="planDTO" >
                        {{data.planDTO  | slice:0:31 }} 
                    </div>
                </span>  
            </div>
        </div>
    </div>
</div>
