.content-horizontal {
    display: flex;
}

.box {
    text-align: left;
    margin-left: 5%;
    width: 35%;
    padding: 0px;
}

.buttons {
    text-align: center;
    margin: 0;
    width: 100%;
    padding: 0px;
}

.btnFloatRight {
    float: right;
}

.btnFloatRight:first-child {
    margin-left: 15px;
}