<dx-data-grid  id="gridContainer" [elementAttr]="{ id: gridId }" ophGridHeaderColor
  ophGridHeaderTextColor (onContentReady)="onContentReady($event)" class="awaitGrid" [dataSource]="medicines"
  [showBorders]="true" [showRowLines]="true" [remoteOperations]="true" [hoverStateEnabled]="true"
  (onRowClick)="startEdit($event)">
  <dxo-selection mode="single"></dxo-selection>
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 30, 60]"></dxo-pager>

  <dxo-column-chooser [enabled]="false"></dxo-column-chooser>
  <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
  <!-- <dxi-column  caption="Sel">
    <dx-check-box [value]="false"></dx-check-box>
  </dxi-column> -->
  <dxi-column dataField="idPlanActividadesEnfermeriaDTO" caption="idPlanActividadesEnfermeriaDTO" [visible]="false"></dxi-column>
  <dxi-column dataField="fechaAplicacion" caption="Fecha" [visible]="false"></dxi-column>
  <dxi-column dataField="horaAplicacion" caption="Hora" [visible]="false"></dxi-column>
  <dxi-column dataField="idNumeroOrdenMedicaDTO" caption="Orden médica"></dxi-column>
  <dxi-column dataField="estadoDTO" caption="Estado"></dxi-column>
  <dxi-column dataField="fechaFormulaDTO" caption="Fecha Fórmula"></dxi-column>
  <dxi-column dataField="medicamentoDTO" caption="Medicamento"></dxi-column>
  <dxi-column dataField="concentracionDescripcionDTO" caption="Concentración"></dxi-column>
  <dxi-column dataField="dosisDescripcionDTO" caption="Dosis"></dxi-column>
  <dxi-column dataField="viaAplicacionDTO" caption="Via Aplicación"></dxi-column>
  <dxi-column dataField="frecuenciaDescripcionDTO" caption="FR/hora"></dxi-column>
  <dxi-column dataField="cantidadDTO" caption="Cantidad"></dxi-column>
  <dxi-column dataField="observacionDTO" caption="Observación" [width]="300"></dxi-column>
</dx-data-grid>
