.styleButton {
    background-color: rgba(226, 229, 235, 1);
}

.white-container {
    border: none !important;
}

.center-form {
    width: 50%;
    margin: 20px auto 0 auto;
}

.buttonContainer {
    margin: 1em;
}

.center-form {
    width: 100%;
    margin: 20px auto 0 auto;
}

.filter-button{
    margin-top: 26px; 
    float: right; 
}

.filter-button:first-child{
    margin-left: 5px
}