span{
    margin-top:6em;
    font-weight: bold;
}
.styleIcon{
    width: 100%;
    text-align: center;
}
.styleButton{
    margin-left: var(--marginleft);
    border-radius: var(--radioButton);
}
.button-container{
    width: 100%;
    text-align: center;
}