<div class="gray-container">
    <h4>PROGRAMACIÓN ACTUAL</h4>
    <div class="content-horizontal">
        <div class="box">
            <h6><strong>Fecha</strong></h6>
            <p>{{currentProgrammingData.fecha | date:'dd/MM/yyyy'}}</p>
        </div>
        <div class="box">
            <h6><strong>Hora</strong></h6>
            <p>{{currentProgrammingData.hora}}</p>
        </div>
        <div class="box">
            <h6><strong>Sede</strong></h6>
            <p>{{currentProgrammingData.sede}}</p>
        </div>
        <div class="box">
            <h6><strong>Consultorio</strong></h6>
            <p>{{currentProgrammingData.consultorio}}</p>
        </div>
        <div class="box">
            <h6><strong>Tipo de cita</strong></h6>
            <p>{{currentProgrammingData.tipoCita}}</p>
        </div>
        <div class="box">
            <h6><strong>Especialidad</strong></h6>
            <p>{{currentProgrammingData.especialidad}}</p>
        </div>
        <div class="box">
            <h6><strong>Procedimiento</strong></h6>
            <p>
                <span id="procedimiento" (mouseenter)="toggleProcedimiento()" (mouseleave)="toggleProcedimiento()">{{currentProgrammingData.procedimiento.substr(0,20)}} {{currentProgrammingData.procedimiento.length > 20 ? '...': ''}}</span>
                <dx-tooltip target="#procedimiento" [(visible)]="tooltipProcedimiento">
                    <div *dxTemplate="let data = data of 'content'">
                        {{currentProgrammingData.procedimiento}}
                    </div>
                </dx-tooltip>
            </p>
        </div>
        <div class="box">
            <h6><strong>Profesional</strong></h6>
            <p>{{currentProgrammingData.profesional}}</p>
        </div>
    </div>
</div>