<header>
  <div class="buttons_container">
    <!-- <oph-round-button className="fas fa-home" size="30" linkref="/home"></oph-round-button>
    <oph-round-button className="fas fa-info" size="30"></oph-round-button>
    <oph-round-button className="fas fa-search" size="30"></oph-round-button> -->
  </div>

  <div class="image_container">
    <img src="./assets/images/klinic-logo.png" alt="img e-klinic">
  </div>

  <div class="tools">
    <!-- <i class="fas fa-ellipsis-v"></i> -->
    <!-- <oph-round-button className="fas fa-ellipsis-v" size="30"></oph-round-button> -->
  </div>
</header>