<div [hidden]="selfmanagement">    
    <oph-info-patient-top></oph-info-patient-top>
    <!-- Información de una cita al reprogramarla -->
    <oph-current-programming-data *ngIf="isRescheduling" [currentProgrammingData]="scheduledAppointment"></oph-current-programming-data>
</div>
<form>
    <dx-form #form id="form" [formData]="dataForm" showColonAfterLabel="true" labelLocation="top" minColWidth="300">
        <dxi-item itemType="group" caption="" cssClass="gray-container" [colCount]="3">
            <dxi-item [colSpan]="3"><h3>Críterios de Busqueda</h3></dxi-item>
            <dxi-item editorType="dxSelectBox" [label]="{text:'Tipo de Cita'}" dataField="appointmentTypeId" [editorOptions]="appointmentTypeConfig">
                <dxi-validation-rule type="required" message="Tipo de cita es requerido"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="speciality" editorType="dxSelectBox" [label]="{text:'Especialidad'}" [editorOptions]="specialityConfig">
                <dxi-validation-rule type="required" message="Especialidad es requerida"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="procedureMedic" editorType="dxLookup" [label]="{text:'Procedimiento'}" [colSpan]="1" [editorOptions]="{  
                    dataSource: procedureList, displayExpr: 'descripcionDTO',
                    disabled: isRescheduling || dataForm.appointmentTypeCode === appointmentTypesEnum.PROGRAM,
                    valueExpr: 'idDTO', searchMode:'contains', searchExpr: ['descripcionDTO'], wrapItemText: true,
                    pageLoadMode: null, onValueChanged: onProcedureChange }">
                <dxi-validation-rule type="required" message="El procedimiento es requerido"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="headquarter" editorType="dxSelectBox" [label]="{text:'Sede'}" [editorOptions]="{ 
                dataSource: campusList, displayExpr: 'descriptionDTO',  valueExpr: 'idDTO',
                onValueChanged: onHeadquarterChange }">
            </dxi-item>
            <dxi-item editorType="dxSelectBox" [label]="{text:'Programa'}" dataField="program" [editorOptions]="{ dataSource: programList,  
                displayExpr: 'descripcionDTO', valueExpr: 'idDTO',onSelectionChanged: onProgramChanged,
                disabled: dataForm.appointmentTypeCode !== appointmentTypesEnum.PROGRAM || isRescheduling }">
            <dxi-validation-rule type="required" message="El Programa es requerido"></dxi-validation-rule>
            </dxi-item>
            <dxi-item editorType="dxSelectBox" [label]="{text:'Actividades'}" dataField="activity" [editorOptions]="{ dataSource: activitiesList,  
                displayExpr: 'descripcionDTO', valueExpr: 'idDTO',
                disabled: dataForm.appointmentTypeCode !== appointmentTypesEnum.PROGRAM || isRescheduling,
                onSelectionChanged: onActivityChanged }">
                <dxi-validation-rule type="required" message="La actividad es requerida"></dxi-validation-rule>
            </dxi-item>
            <dxi-item *ngIf="!showCalendar" dataField="date" [label]="{text:'Fecha'}" editorType="dxDateBox" [colSpan]="1" [editorOptions]="{ min:minDate }"></dxi-item>
        </dxi-item>
    </dx-form>
</form>
<div>
    <div class="gray-container sticky-top" style="margin-bottom: 10px">
        <h3>Profesionales <span *ngIf="dataForm.appointmentTypeCode == appointmentTypesEnum.MEDICALBOARD" class="dx-field-item-required-mark">&nbsp;*</span></h3>
        <div style="display: flex;">
            <dx-tag-box style="width: 100%" #tgBox [dataSource]="professionalList" [value]="dataForm.professional" displayExpr="descripcionDTO" placeholder="Seleccionar profesional(es)..." (onValueChanged)="onProfessionalValueChanged($event)">
            </dx-tag-box>
            <div class="search-professional-container">
                <dx-button id="btnSave" text="Buscar" stylingMode="contained" icon='fas fa-search' type="success" [width]="150" (onClick)="searchAppointments()">
                </dx-button>
            </div>
        </div>
    </div>
    <div class="btn-section">
        <dx-button text="Volver" type="danger" class="danger-btn" (onClick)="goBack()"></dx-button>
        <dx-button text="Lista de Espera" type="success" style="float: right;" (onClick)="onWaitingListBtnClick($event)"></dx-button>
    </div>
    <hr>
    <div class="tabs-container">
        <div><oph-tabs-menu [tabsList]="tabs" (onTabClick)="onTabChanged($event)"></oph-tabs-menu></div>
    </div>
    <div class="items-container">
        <!-- Calendario -->
        <div [hidden]="!showCalendar" class="iframe-container">
            <iframe id="pruebaiframe" [src]="schedulerFrameUrl | urlSafe" frameborder="0" style="width: 100%; height: 100%"></iframe>
        </div>
        <!-- Grilla de individuales -->
        <div class="table-container" [hidden]="showCalendar">
            <dx-data-grid [dataSource]="gridData" [showBorders]="true" [showRowLines]="true" [hoverStateEnabled]="true" keyExpr="id" [focusedRowEnabled]="true" [(autoNavigateToFocusedRow)]="autoNavigateToFocusedRow" (onFocusedRowChanging)="onFocusedRowChanging($event)"
                (onRowClick)="onFocusedRowChanged($event.data)">
                <dxo-paging [pageSize]="5"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10]"></dxo-pager>

                <dxi-column caption="Fecha" dataField="fecha" dataType="date" alignment="center"></dxi-column>
                <dxi-column caption="Hora" dataField="hora" alignment="center"></dxi-column>
                <dxi-column caption="Sede" dataField="sede" alignment="center"></dxi-column>
                <dxi-column caption="Consultorio" dataField="consultorio" alignment="center"></dxi-column>
                <dxi-column caption="Especialidad" dataField="especialidad" alignment="center"></dxi-column>
                <dxi-column caption="Profesional" dataField="profesional" alignment="center"></dxi-column>

            </dx-data-grid>
        </div>
    </div>
</div>

<!-- Popup para enviar una cita a lista de espera -->
<dx-popup [showTitle]="false" [dragEnabled]="true" [closeOnOutsideClick]="true" [(visible)]="isVisibleWaitingList" [width]="'43%'" [height]="'auto'" [maxHeight]="'auto'" [resizeEnabled]="true">
    <div *dxTemplate="let data of 'content'">
        <oph-confirm-waiting-list [professionals]="selectedProfessionals" [objectWaitingList]="scheduledAppointment" [dataForm]="dataFrm" (onResult)="onResult($event)"></oph-confirm-waiting-list>
    </div>
</dx-popup>

<!-- Popup para la programación de una cita individual mediante la grid -->
<dx-popup [showTitle]="true" [title]="'Seleccione confirmar si estas de acuerdo con los datos'" [dragEnabled]="true"
        shadingColor="rgba(0, 0, 0, 0.55)" [closeOnOutsideClick]="true" [(visible)]="popupVisible" [width]="'40%'" 
        [height]="'auto'" [maxHeight]="'auto'" [fullScreen]="FullScreen" [resizeEnabled]="true">
    <div *dxTemplate="let data of 'content'">
        <div class="content-horizontal">
            <div class="box">
                <h6><strong>Fecha y hora</strong></h6>
                <p>{{selectedIndividualAppointment.fecha +" "+ selectedIndividualAppointment.hora}}</p>
            </div>
            <div class="box">
                <h6><strong>Sede</strong></h6>
                <p>{{selectedIndividualAppointment.sede}}</p>
            </div>
            <div class="box">
                <h6><strong>Tipo de cita</strong></h6>
                <p>{{selectedIndividualAppointment.tipoCita}}</p>
            </div>
        </div>
        <div class="content-horizontal">
            <div class="box">
                <h6><strong>Especialidad</strong></h6>
                <p>{{selectedIndividualAppointment.especialidad}}</p>
            </div>
            <div class="box">
                <h6><strong>Procedimiento</strong></h6>
                <p>{{selectedIndividualAppointment.procedimiento}}</p>
            </div>
            <div class="box">
                <h6><strong>Consultorio</strong></h6>
                <p>{{selectedIndividualAppointment.consultorio}}</p>
            </div>
        </div>
        <div class="content-horizontal">
            <div class="box">
                <h6><strong>Profesional</strong></h6>
                <p>{{selectedIndividualAppointment.profesional}}</p>
            </div>
            <div class="box">
                <h6><strong>Recomendaciones</strong></h6>
                <p>{{selectedIndividualAppointment.recomendaciones}}</p>
            </div>
            <div class="box"></div>
        </div>
        <div class="content-horizontal">
            <div class="buttons">
                <dx-button stylingMode="contained" text="Salir" type="danger" [width]="120" class="btnFloatRight" icon="fas fa-times" (onClick)="click($event)"></dx-button>
                <dx-button stylingMode="contained" text="Confirmar" type="success" class="btnFloatRight" icon="fas fa-check" [width]="140" (onClick)="saveAppointment($event)"></dx-button>
            </div>
        </div>
    </div>
</dx-popup>