.btn-section{
    padding: 10px 0 0 0;
    width: 100%;
    display: inline-block;
}

.danger-btn{
    float: right; 
    margin: 0 10px
}

.content-horizontal {
    display: flex;
}

.box {
    text-align: center;
    margin: 0;
    width: 35%;
    padding: 0px;
}

.buttons {
    text-align: center;
    margin: 0;
    width: 100%;
    padding: 0px;
}

.btnFloatRight {
    float: right;
}

.btnFloatRight:first-child {
    margin-left: 15px;
}

.tabs-container{
    display: block; 
    height:auto;
    padding-right: 32px;
}

.tabs-container div{
    width: 100px; 
    float: right
}

.items-container{
    /* display: inline-block;
    padding: 0 30px;  */
    border: 0;
}

.iframe-container{
    height: 700px; 
    display: block
}

.table-container{
    display: inline-block;
    padding: 0 32px;
}

.search-professional-container{
    float: right; 
    margin-left: 10px
}