<div class="gray-container cssHeight">
    <div class="global-container">
        <div class="basic-data">
            <div class="photo-container">
                <div class="photo">
                    <img [src]="patient.photoPath || './assets/images/userAvatar.png'"
                        alt="image">
                </div>
            </div>
            <div class="title-container">
                <span>{{patient.nameFull}}</span>
                <label>{{patient.professionDTO}}</label>
            </div>
        </div>
        <div class="second-container">
            <div class="container-line">
                <div class="line-vertical"></div>
            </div>

            <div class="info-container">
                <span>Direccion:</span>
                <label>{{patient.localityDTO}}</label>
                <span>Correo:</span>
                <label>{{patient.emailDTO}}</label>
            </div>
            <div class="container-line">
                <div class="line-vertical"></div>
            </div>
            <div class="info-container">
                <span>Estado Civil:</span>
                <label>{{patient.stateCivil}}</label>
                <span>Telefono Movil:</span>
                <label>{{patient.numberPhone}}</label>
            </div>
            <div class="container-line">
                <div class="line-vertical"></div>
            </div>
            <div class="info-container">
                <span>Edad:</span>
                <label>{{patient.ageDTO}}</label>
                <span>Telefono:</span>
                <label>{{patient.telephoneDTO}}</label>
            </div>
        </div>
    </div>
</div>