<div class="gray-container cssHeight" *ngFor="let data of patient" >
    <div class="global-container">
        <div class="basic-data">
            <div class="photo-container">
                <div class="photo">
                    <img [src]="data.photoPath || './assets/images/userAvatar.png'"
                        alt="image">
                </div>
            </div>
            <div class="title-container">
                <span>{{data.pacienteDTO}}</span>
                <!-- <label>{{patient.professionDTO}}</label> -->
            </div>
        </div>
        <div class="second-container">
            <div class="container-line">
                <div class="line-vertical"></div>
            </div>

            <div class="info-container">
                <span>Sucursal:</span>
                <label>{{data.prestadorDTO}}</label>
                <span>Piso:</span>
                <label>{{data.instalacionPrestadorDTO}}</label>
                <span>Habitacion:</span>
                <label>{{data.habitacioDTO}}</label>
            </div>
            <div class="container-line">
                <div class="line-vertical"></div>
            </div>
            <div class="info-container">
                <span>Servicio:</span>
                <label>{{data.servicioDTO}}</label>
                <span>Tipo documento:</span>
                <label>{{data.tipoDocumentoDTO}}</label>
                <span>N° documento:</span>
                <label>{{data.nDocumentoDTO}}</label>
            </div>
            <div class="container-line">
                <div class="line-vertical"></div>
            </div>
            <div class="info-container">
                <span>Edad:</span>
                <label>{{data.edadDTO}}</label>
                <span>Diagnostico:</span>
                <label>{{data.diagnosticoDTO}}</label>
                <span>Prevencion:</span>
                <label>{{data.prevencionDTO}}</label>
                <span>Plan:</span>
                <label>{{data.planDTO}}</label>
            </div>
        </div>
    </div>
</div>