<div class="dashboard-container">    
    <!-- Botonera superior -->
    <div class="grid-content item-c">
        <div class="main-buttons-list">
            <div class="item-button" data-toggle="tooltip" data-placement="bottom" [title]="'Guardar'" (click)="onSave()" 
            [attr.disabled]="disabledSave">
            <i [style.color]="'#5cb85c'" [class]="isLoading?'fas fa-cog fa-spin':'far fa-save'"></i>
            <div class="text">Guardar</div>
            </div>      
            <div class="item-button" data-toggle="tooltip" data-placement="bottom" [title]="'Generar reporte'" (click)="onGenerateReport()"
                [attr.disabled]="disabledGenerate">
                <i [style.color]="'#D2B4DE'" class="far fa-file-alt"></i> 
                <div class="text">Generar</div> 
            </div>        
        </div>   
    </div> 
<div class="main-content">    
    <!-- <div class="container-ida"> -->
        <form class="pt-4">
            <dx-form #formEgress [formData]="egressRecord" showColonAfterLabel="false" labelLocation="top" minColWidth="300" > 
                <dxi-item itemType="group" [colCount]="2" class="title" caption="" > 
                    <dxi-item [colSpan]="2">
                        <h3 class="header-klinic">Condición general del paciente</h3>
                    </dxi-item>                    
                    <dxi-item dataField="condicionEgreso" [colSpan]="1" editorType="dxSelectBox" 
                        [editorOptions]="{items:condicionesEgreso,displayExpr:'descripcion', valueExpr:'id',placeholder:'Seleccione una condición ' }">
                            <dxi-validation-rule  type="required" message="* Seleccione una condición del paciente"></dxi-validation-rule>
                            <dxo-label text="Condición general del paciente" ></dxo-label> 
                    </dxi-item>
                    <dxi-item [colSpan]="1" dataField="otraCondicionEgreso" 
                        [editorOptions]="{ showClearButton: true}" editorType="dxTextBox">
                        <dxo-label text="Otro" ></dxo-label> 
                    </dxi-item>
                </dxi-item>  
                <dxi-item itemType="group" [colCount]="2" caption=""> 
                    <dxi-item [colSpan]="2">
                        <h3 class="header-klinic">Dispositivos retirados</h3>
                    </dxi-item>   
                    <dxi-item [colSpan]="1" dataField="dispositivosRetirados" editorType="dxTagBox"
                        [editorOptions]="{
                            items: devicesToRemove, 
                            displayExpr: 'descripcion',
                            placeholder: 'Seleccione los dispositivos...',
                            searchEnabled: true,
                            showSelectionControls: true,
                            applyValueMode: 'useButtons'    
                        }">                  
                        <dxo-label text="Dispositivos retirados" ></dxo-label>  
                    </dxi-item>                     
                    <dxi-item [colSpan]="1" dataField="otroDispositivoRetirado"
                        [editorOptions]="{showClearButton: true}" 
                        editorType="dxTextBox">
                        <dxo-label text="Otro" ></dxo-label> 
                    </dxi-item>
                    <dxi-item [colSpan]="2" dataField="observacionDispositivosRetirados" 
                        [editorOptions]="{showClearButton: true,height:'60px'}"
                        editorType="dxTextBox">
                        <dxo-label text="Observación" ></dxo-label> 
                    </dxi-item>
                </dxi-item>  
                <dxi-item itemType="group" [colCount]="2" caption=""> 
                    <dxi-item [colSpan]="2">
                        <h3 class="header-klinic">Egreso con dispositivo invasivo</h3>
                    </dxi-item>   
                    <dxi-item [colSpan]="1" dataField="dispositivosEgresoEnfermeria" editorType="dxTagBox"
                        [editorOptions]="{
                            items: devicesToEgress, 
                            displayExpr: 'descripcion',
                            placeholder: 'Seleccione los dispositivos...',
                            searchEnabled: true,
                            showSelectionControls: true,
                            applyValueMode: 'useButtons'    
                        }">                  
                        <dxo-label text="Egreso con dispositivos invasivos" ></dxo-label>  
                    </dxi-item>                     
                    <dxi-item [colSpan]="1" dataField="otroDispositivo" 
                        [editorOptions]="{ showClearButton: true}" editorType="dxTextBox">
                        <dxo-label text="Otro" ></dxo-label> 
                    </dxi-item>
                    <dxi-item [colSpan]="2" dataField="observacionOtroDispositivo" 
                        [editorOptions]="{showClearButton: true,height:'60px'}"
                        editorType="dxTextBox">
                        <dxo-label text="Observación"></dxo-label> 
                    </dxi-item>
                </dxi-item> 
                <dxi-item itemType="group" [colCount]="2" caption="">
                    <dxi-item [colSpan]="2">
                        <h3 class="header-klinic">Educación (Cuidados)</h3>
                    </dxi-item>                     
                    <dxi-item [colSpan]="1" editorType="dxTagBox" dataField="educacion"
                        [editorOptions]="{
                            items: optionsEducations, displayExpr: 'descripcion', 
                            placeholder: 'Seleccione los cuidados...',
                            searchEnabled: true, showSelectionControls: true,
                            applyValueMode: 'useButtons'    
                        }">        
                        <dxo-label text="Cuidados educativos" ></dxo-label>                       
                    </dxi-item>
                    <dxi-item [colSpan]="1" dataField="otroEducacion" 
                        [editorOptions]="{ showClearButton: true}" editorType="dxTextBox">
                        <dxo-label text="Otro" ></dxo-label> 
                     </dxi-item>                      
                    <dxi-item [colSpan]="2" dataField="observacionEducacion"                     
                        [editorOptions]="{showClearButton: true,height:'60px'}" editorType="dxTextBox">
                        <dxo-label text="Observación" ></dxo-label> 
                    </dxi-item>                  
                </dxi-item>
                <dxi-item itemType="group" [colCount]="12">
                    <dxi-item [colSpan]="4"  class="border border-primary">
                        <div *dxTemplate>
                            <dx-check-box  *ngFor="let obj of optionsEducationsForm" [text]="obj.descripcion" #optionsEducation (onValueChanged)="onCheckValueChanged($event.value, obj.id, obj.descripcion)"></dx-check-box>
                        </div>
                        <dxo-label text="Forma"></dxo-label>
                    </dxi-item>
                    <dxi-item [colSpan]="4" editorType="dxTagBox" dataField="medioSalida"
                        [editorOptions]="{
                            items: optionsExitMediums, displayExpr: 'descripcion', 
                            placeholder: 'Seleccione los medios...',
                            searchEnabled: true, showSelectionControls: true,
                            applyValueMode: 'useButtons'    
                        }">        
                        <dxo-label text="Medio de salida desde el servicio" ></dxo-label>                      
                    </dxi-item>
                    <dxi-item editorType="dxSwitch" [colSpan]="3" dataField="verificacionPertenencias"
                    [editorOptions]="{switchedOffText:'No', switchedOnText:'Sí'}">
                        <dxo-label text="Verificación entrega de pertenencias"></dxo-label>
                        <div *dxTemplate>
                            <dx-switch [value]="false" switchedOffText="No" switchedOnText="Sí"></dx-switch>
                        </div>
                    </dxi-item>  
                </dxi-item>  
                <dxi-item itemType="group" [colCount]="1">
                    <dxi-item [colSpan]="1" dataField="observacionGeneral"                     
                        [editorOptions]="{ showClearButton: true,height:'80px'}" editorType="dxTextBox">
                        <dxo-label text="Observaciones generales"></dxo-label>
                    </dxi-item>
                </dxi-item>
            </dx-form>
        </form>
    <!-- Rejillas -->

    <h4 class="title-content mt-3">Ordenes médicas</h4>
    <dx-data-grid id="gridContainer" [dataSource]="orders" [showBorders]="true"
      [showRowLines]="true" [remoteOperations]="true" [hoverStateEnabled]="true" [elementAttr]="{ id: gridOrder }"
      ophGridHeaderColor ophGridHeaderTextColor (onContentReady)="onContentReady($event)">
    
      <dxo-selection mode="single"></dxo-selection>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[8, 12, 20]"></dxo-pager>
    
      <dxi-column caption="Estado" dataField="estadoOrdenMedica" dataType="string" alignment="center"></dxi-column>
      <dxi-column caption="Número de orden"  dataField="idnumerico" dataType="number" alignment="center"></dxi-column>
      <dxi-column caption="Fecha" dataField="fechaHora" dataType="datetime" alignment="center" alignment="center"></dxi-column>
      <dxi-column caption="Tipo de orden" dataField="tipoOrdenMedica"  dataType="string" alignment="center"></dxi-column>
      <dxi-column caption="Especialista que ordena" dataField="personalAsistencialOrdena"  dataType="string" alignment="center" cellTemplate="PersonalTemplate">
          
       <div *dxTemplate="let data of 'PersonalTemplate'">
        {{data.data.personalAsistencialOrdena.nombrePrimer}} {{data.data.personalAsistencialOrdena.nombreSegundo}}
        {{data.data.personalAsistencialOrdena.apellidoPrimer}} {{data.data.personalAsistencialOrdena.apellidoSegundo}}
    </div> 
      </dxi-column>
    </dx-data-grid>    
    <br>    
    <h4 class="title-content mt-3">Medicamentos</h4>
    <dx-data-grid id="gridMedicines" [dataSource]="medicines" [showBorders]="true"
      [showRowLines]="true" [remoteOperations]="true" [hoverStateEnabled]="true" [elementAttr]="{ id: gridMedicines }"
      ophGridHeaderColor ophGridHeaderTextColor (onContentReady)="onContentReady($event)" class="mb-3">    

      <dxo-selection mode="single"></dxo-selection>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[8, 12, 20]"></dxo-pager>  

      <dxi-column caption="Estado" dataField="estadoOrden" dataType="string" alignment="center" width='150'></dxi-column>
      <dxi-column caption="Número de orden"  dataField="idNumerico" dataType="string" alignment="center" width='150'></dxi-column>
      <dxi-column caption="Fecha" dataField="fechaHora" dataType="datetime" alignment="center" alignment="center" width='150'></dxi-column>
      <dxi-column caption="Tipo de medicamento" dataField="medicamento" dataType="string" alignment="center"></dxi-column>
      <dxi-column caption="Dosis" dataField="dosis" dataType="string" alignment="center" width='100'></dxi-column>
      <dxi-column caption="Cantidad" dataField="cantidadEntregarFarmacia" dataType="string" alignment="center" width='100'></dxi-column>
      <dxi-column caption="Especialista que ordena" dataField="nombrePersonalAsistencial" dataType="string" alignment="center" width='250'></dxi-column>
    </dx-data-grid>
    <br>   
</div>
</div>
